@{
    ViewData["Title"] = "Confirmar exclusão";
}

<div class="text-center">
    <h3>Confirmação exclusão do contato (Nome do Contato)?</h3>
</div>

<a class="btn btn-primary btn-clock" role="button">Cancelar</a>
<a class="btn btn-danger btn-clock" role="button">Confirmar exclusão</a>